<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <title>Signup</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="/styles/auth.css">
</head>

<body>
  <div class="container">
    <div class="registration form">
      <header class="header-container">
        <a href="/"><i class="fas fa-angle-double-left header-icon"></i></a>
        <span>Sign Up</span>
      </header>
      <form id="registerForm" action="/auth/register" method="POST">
        <input type="text" name="username" placeholder="Enter your username">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="password" name="password" placeholder="Enter a password">
        <select name="role" id="role" class="dropdown" required>
          <option value="" disabled selected>Choose your account type</option>
          <option value="Student">Student</option>
          <option value="Business">Employer</option>
        </select>
        <input type="submit" class="button" value="Sign Up">
      </form>
      <div class="signup">
        <span class="signup">
          <p>Already have an account? <a href="/auth/login">Login here</a></p>
        </span>
      </div>
    </div>
  </div>
</body>
<script>
  document.getElementById('registerForm').addEventListener('submit', function (e) {
    const role = document.getElementById('role').value;
    const email = document.querySelector('input[name="email"]').value;

    if (role === 'Student' && !email.endsWith('@roverkids.org')) {
      e.preventDefault();
      alert('Students must use an email that ends with @roverkids.org.');
    }
  });
</script>

</html>