<section class="footer-section">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="/home.html"><img src="../img/logo.png" alt="Logo" height="30vh"></a>
        </div>
        <div class="footer-links">
            <div class="footer-left">
                <a href="" class="link-1">Contact Us</a>
                <a href="" class="link-2">FAQs</a>
                <a href="" class="link-3">Sources</a>
                <a href="/PRIVACY_POLICY.txt" class="link-4" download>Privacy Policy</a>
                <a href="/TERMS_OF_SERVICE.txt" class="link-5" download>Terms of Service</a>
            </div>
            <div class="footer-right">
                <p>© RoverWork 2025</p>
            </div>
        </div>
    </div>
</section>