/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --white: #fff;
    --light-gray: #f7f7f7;
    --black: #000;
    --red: #ff0000;
    --light-red: oklch(0.971 0.013 17.38);
}


* {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: clamp(2.75rem, 4vw, 6rem);
}

h2 {
    font-size: clamp(2.2rem, 2.5vw, 5rem);
}

h3 {
    font-size: clamp(1.5rem, 1.75vw, 3rem);
}

h4 {
    font-size: clamp(1rem, 1.25vw, 2rem);
}


p {
    font-size: clamp(1rem, 1vw, 2rem);
}

li {
    font-size: clamp(1rem, 1vw, 2rem);
}

button {
    font-size: clamp(1.5rem, 1.5vw, 3rem);
}

a {
    text-decoration: none;
    font-size: clamp(1.25rem, 1.25vw, 3rem);
}


body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
}

.nav-section {
    margin-left: 0;
    margin-right: 0;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 1.25em;
    padding-bottom: 1em;
    background-color: var(--light-red);
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 7vw;
}

.nav-links a {
    color: var(--black);
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--red);
}

.CTA-btn,
#CTA-btn {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    border-style: none;
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

.hamburger {
    display: none;
}

.hamburger-nav {
    display: none;
}

.hamburger-nav-links {
    display: none;
}

@media screen and (max-width: 1000px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        gap: 10px;
        cursor: pointer;
        font-size: 3rem;
        display: block;
    }

    .hamburger-nav {
        margin: 0;
        padding: 0;
        background-color: var(--light-red);
    }

    .hamburger-nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hamburger-nav-links a {
        border: #000;
        border-top-style: solid;
        border-top-width: 1px;
        width: 100%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        color: var(--black);
        font-size: clamp(2.2rem, 2.5vw, 5rem);
        transition: 0.3s;
    }

    #cta-link {
        background-color: var(--red);
        color: var(--white);
        transition: 0.3s;
        border: #000;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }

    #cta-link :hover {
        background-color: #fff;
    }

    .hamburger-nav-links a:hover {
        background-color: #f52929;
    }
}